{% extends 'base/index.html.twig' %}

{%  block body %}
    <div class="main-content">
        <section class="section">
            <div class="section-header p--3">
                <h5>Blank Page</h5>
            </div>

            <div class="section-body">

            </div>
        </section>
    </div>
{% endblock %}